@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
@font-face {
  font-family: "futurapt";
  src: url(FuturaPTMedium.otf);
  font-weight: normal;
}
@font-face {
  font-family: "futurapt";
  src: url(FuturaPTHeavy.otf);
  font-weight: bold;
}

body
{
margin: 0;
background-image: url(NFLBackground.png);
background-size: 100vw 100vh;
background-position: 0px 75px;
}

.topblack
{
width: 100vw;
color: #fff;
text-align: center;
background-color: #000;

}
.topblack h1
{
font-family:  "futurapt";
font-weight: normal;
margin-top: auto;
}
.topblack h1 a
{
  text-decoration: none;
  padding: 5px 20px;
  transition: 0.3s ease;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.topblack h1 a:visited
{
  color: #fff;
}
.topblack h1 a:hover
{
background-color: #fff;
color: #000;

}
.topbar h1
{
margin: 0;
font-family: "futurapt";
font-style: italic;
font-weight: bold;
color: #fff;
background-color: #000;


}
.topbar h1 span
{
position: absolute; right:10px;
text-decoration: none;

}
.topbar h1 a:visited
{
color: #fff;

}
.topbar h1  a
{
  text-decoration: none;
  margin-left: 32px;
}
