@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
@font-face {
  font-family: "futurapt";
  src: url(FuturaPTLight.otf);
  font-weight: lighter;
}
@font-face {
  font-family: "futurapt";
  src: url(FuturaPTHeavy.otf);
  font-weight: bold;
}
@font-face {
  font-family: "futurapt";
  src: url(FuturaPTMedium.otf);
  font-weight: normal;
}

body
{
margin: 0;
}

.topbar h1 a:visited
{
color: #fff;

}
.topbar h1
{
margin: 0;
font-family: "futurapt";
font-weight: normal;
font-style: italic;
color: #fff;
background-image: linear-gradient(90deg, #121212, #000);
font-size: 27px;
}
.topbar h1 a:hover
{
color: #000;
background-color: #fff;

}
.topbar h1 span
{
position: absolute; right:10px;
text-decoration: none;
font-style: normal;
}

.topbar h1  a
{
  text-decoration: none;
  padding: 0px 20px;
  transition: 0.4s ease;
}
.panel {
  background-size: cover;
  width: 85vw;
  height: 60vh;
  padding-top: 40vh;
  padding-left: 15vw;
  background-position: 0 0;
}
.panel h1
{
  text-decoration: none;
  font-family: "futurapt";
  font-weight: bold;
  color: #fff;
}
.panel h2
{
  text-decoration: none;
  font-family: "futurapt";
  font-weight: bold;
  color: #fff;
  max-width: 25vw;
  margin-bottom: 30px;
}
.panel a
{
  text-decoration: none;
  font-family: "futurapt";
  font-weight: bold;
  color: #fff;
  max-width: 25vw;
  background-color: #fa1e3c;
  padding: 12px;
  border-radius: 40px;
}

.bg-passing
{
  background-image: url(lamar-02.png);
  background-size: cover;


}
.bg-rushing
{
  background-image: url(henry.jpg);
}
