@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700;900&display=swap');
html {
  background-image:url(soto22.jpg);
    background-size: 100vw 100vh;


}

body {
  margin: 0;
}
ul
{
list-style-type: none;
margin-top: 25px;
text-align: center;
padding: 0;
}

ul li {
display: inline-block;
}

ul li a {
text-decoration: none;
color: white;
padding: 5px 20px;
border: 1px transparent #000;
transition: 0.3s ease;
font-size: 40px;
}

ul li a:hover{
background-color: #fff;
color: #000;
}
.main {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  z-index: 69;
}
.center {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content:center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  position: absolute;
  top:0;
  left:0;
  z-index: -69;

}

h1{
font-size: 80px;
margin-bottom: 0;
text-shadow: 2px 2px black;
}

h3 {
text-shadow: 2px 2px black;

}
hr {
background-color: white;
width: 50vw;
height: 2vh;
border-bottom: 1px solid black;
border-right: 1px solid black;
}
