@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
@font-face {
  font-family: "futurapt";
  src: url(FuturaPTLight.otf);
  font-weight: lighter;
}
@font-face {
  font-family: "futurapt";
  src: url(FuturaPTHeavy.otf);
  font-weight: bold;
}
@font-face {
  font-family: "futurapt";
  src: url(FuturaPTMedium.otf);
  font-weight: normal;
}

body
{
margin: 0;
background-color: #000000;
}

.topbar h1 a:visited
{
color: #000;

}
.topbar h1
{
margin: 0;
font-family: "futurapt";
font-weight: normal;
font-style: italic;
color: #000;
background-color: #fa1e3c;
font-size: 27px;
}
.topbar h1 a:hover
{
color: #fff;
background-color: #000;

}
.topbar h1 span
{
position: absolute; right:10px;
text-decoration: none;
font-style: normal;
}

.topbar h1  a
{
  text-decoration: none;
  padding: 0px 20px;
  transition: 0.4s ease;
}
.orange  {
font-size: 50px;
font-family: "futurapt";
font-weight: 900;
padding: 0px 0px;
background-color: #fa1e3c;
width: 200px;
height: 200px;
display: block;
    transform:rotate(45deg);
    position: absolute;
    left: 5%;
    top: 40%;

}
.orange span {
  display: inline-block;
  transform: rotate(-45deg);
}


.berry  {
  font-size: 50px;
  font-family: "futurapt";
  font-weight: 900;
  padding: 0px 0px;
  background-color: #fa1e3c;
  width: 200px;
  height: 200px;
  display: block;
      transform:rotate(45deg);
      position: absolute;
      left: 30%;
      top: 40%;

}
.berry span {
  display: inline-block;
  transform: rotate(-45deg);
}
.pear  {
  font-size: 50px;
  font-family: "futurapt";
  font-weight: 900;
  padding: 0px 0px;
  background-color: #fa1e3c;
  width: 200px;
  height: 200px;
  display: block;
      transform:rotate(45deg);
      position: absolute;
      left: 55%;
      top: 40%;
      transform-style: preserve-3d;
      perspective: 800px;
}

.pear span {
  display: inline-block;
  transform: rotate(-45deg);
}

.apple {
  font-size: 50px;
  font-family: "futurapt";
  font-weight: 900;
  padding: 0px 0px;
  background-color: #fa1e3c;
  width: 200px;
  height: 200px;
  display: block;
      transform:rotate(45deg);
      position: absolute;
      left: 80%;
      top: 40%;
}
.apple span {
  display: inline-block;
  transform: rotate(-45deg);
}
